# nushell
config/nushell/history.txt

# ssh
config/ssh/servers

# docs
docs

# user config
config/git/user

# sops
config/sops/age/keys.txt

# apply to host util scripts
apply

# work in progress files
wip
