# nushell
config/nushell/history.txt

# user config
config/ssh/servers
config/git/user
config/fuzzmux/fuzzmux.user.yaml

# sops
config/sops/age/keys.txt

# backgrounds
local/share/backgrounds/**/*.jpg
local/share/backgrounds/**/*.jpeg
local/share/backgrounds/**/*.png
local/share/backgrounds/**/*.gif
local/share/backgrounds/**/*.webp
local/share/backgrounds/**/*.mp4

# files with local secrets
nix/nixos/pullsecrets.nix

# work in progress files
wip
.wip

# docs
docs_wip

# dotfiles
dotfiles.local.yaml

# windows
windows/inventory.ini
windows/inventory.yaml
