[Unit]
Description=GnuPG cryptographic agent and passphrase cache
Documentation=man:gpg-agent(1)
Requires=sockets.target

[Service]
ExecStart=/usr/bin/gpg-agent --supervised --options /etc/gnupg/gpg-agent.conf
ExecReload=/usr/bin/gpgconf --reload gpg-agent

[Install]
WantedBy=default.target
