# github: always push using ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
	pushInsteadOf = https://github.com/

# gitlab: always push using ssh
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
	pushInsteadOf = https://gitlab.com/

[user]
  name = Your Name
  email = your.name@domain.com
  signingkey = FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
