# github: use ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
	pushInsteadOf = https://github.com/

# github: fetch pull requests
# remote.origin.fetch '+refs/pull/*:refs/remotes/origin/pull/*'

# gitlab: use ssh
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
	pushInsteadOf = https://gitlab.com/

[user]
  name = Your Name
  email = your.name@domain.com
  signingkey = FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF

# use ssh instead of gpg
# gpg.format = ssh
